registry=https://registry.npmjs.org/
legacy-peer-deps=true
strict-peer-dependencies=false
@oneclick:registry=https://verdaccio.oneclick.es/
//verdaccio.oneclick.es/:_authToken="FrKdctIYHqdqws8oK6KnVr11aSIaAIZPjFp4pmpKCTA="